.header {
  display: inline-block;
  /*position: absolute;*/
}

.logo {
  display: inline-block;
  position: absolute;
  margin: 15px;
  float: left;
  width: 12%;
  border-radius: 35px;

}

.nav {
  display: inline-block;
  position: absolute;
  float: right;
  left: 925px;
}
