.logout {
  display: inline-block;
  position: absolute;
  left: 370px;
  top: 60px;
  line-height: 0px;
  padding: 1px;
}

.logout button {
  height: 30px;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}
