@font-face {
   font-family: Smallville;
   src: url(Smallville1.ttf);
}

.logout button {
  display: inline-block;
  position: relative;
  height: 30px;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}
