.mainMission {
  text-align: center;
  width: 100%;
}
.textfield {
  display: inline-block;
  position: relative;
  margin: 80px auto;
  height: 300px;
  width: 600px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgb(169,64,13);
  text-align: justify;
  font-size: 40px;
  padding: 0px 20px;
  line-height: 40px;
  font-family: 'Smallville';
  font-weight: 100;
  color: rgb(55, 15, 50);
}

.textfield p {
  display: inline-block;
  position: relative;
  line-height: 35px;
  top: -10px;
}

.lastTexPart {
  display: inline-block;
  position: relative;
  text-align: right;
  top: -65px;
  left: 340px;
}

.textfield span {
  font-family: 'helvetica';
  font-size: 30px;
}
