.mainRoverSpirit {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: space-around;
  height: 460px;
  width: 100%;
}

#rovCur {
  width: 100px;
  height: 100px;
  margin: 15px 15px 0px;
  border-radius: 90px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgb(169,64,13);
}

#rovSpi {
  width: 100px;
  height: 100px;
  margin: 15px 15px 0px;
  border-radius: 90px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgb(169,64,13);
}

#rovOpp {
  width: 100px;
  height: 100px;
  margin: 15px 15px 0px;
  border-radius: 90px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgb(169,64,13);
}

.bodyOppPic div {
  position: absolute;
  display: inline-block;
  left: 285px;
  color: white;
  margin-top: 15px;
}

.bodyOppPic img {
  position: relative;
  height: 400px;
  width: auto;
  margin: 5px auto 10px;
  margin-top: 40px;
}

.bodyOppPic input {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  font-size: 30px;
  color:#840000;
  margin-top: 55px;
  left: 305px;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  box-shadow: 0px 0px 10px 1px rgb(169,64,13);
}

.slick-prev  {
    left: -85px;
  }

.slick-next  {
    left: 660px;
  }

.slick-next:before, .slick-prev:before {
    font-size: 75px;
    line-height: 0.5;
    opacity: .75;
    color: #fff;
}

.slick-dots {
  margin-left: 30px;
  height: 65px;
  width: 90%;
  bottom: -65px;
  line-height: 30px;
  overflow: auto;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: #840000;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: -2px;
}

.slick-dots li button::before {
  font-size: 12px;
  color: white;
  border-radius: 90px;
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 10px 1px white;
  margin-bottom: -3px;
}
