.mainRoverCuriosity {
  display: inline-block;
  position: absolute;
  margin: 130px 155px;
  text-align: center;
  width: 1100px;
}

.nestedRover {
  position: absolute;
  top: 20px;
  height: 400px;
  width: 275px;
  float: left;
}

.spirit {
  height: 300px;
  width: 275px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px 3px rgb(169,64,13);
  border-radius: 5px;
  margin: 18px 75px 0px 3px;
  float: left;
}

.spirit img {
  float: left;
  width: 40%;
  padding: 0px 25px 0px 10px;
}

#rov {
  width: 20%;
  height: 20%;
  margin: 15px 15px 0px;
  border-radius: 90px;
  background-color: white;
  box-shadow: 0px 0px 5px 3px rgb(169,64,13);
}

.spirit li {
  line-height: 30px;
  list-style: none;
  margin: 0px 0px -5px 0px;
  text-align: left;
}

.spirit p {
  line-height: 20px;
  list-style: none;
  text-align: justify;
  margin: -20px 0px 0px 0px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.headerStripe {
  height: 30px;
  width: 275px;
  background-color: rgb(50,150,245);
  background: linear-gradient(90deg, transparent, rgb(50,150,245), rgb(50,150,245), transparent);
  margin: -5px 0px 10px 0px;

}

.headerStripe h3 {
  padding-top: 5px;
  color: white;
  letter-spacing: 3px;
}

.gallaryAPI {
  position: relative;
  height: 400px;
  width: 650px;
  float: right;
  top: -50px;

}

.bodyCurPic img {
  position: relative;
  height: 400px;
  width: auto;
  margin: 0 auto;
  margin-top: 40px;
}

.bodyCurPic input {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  font-size: 30px;
  color:#840000;
  margin-top: 50px;
  left: 590px;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  box-shadow: 0px 0px 10px 1px white;
}

.slick-prev  {
    left: -85px;
  }

.slick-next  {
    left: 660px;
  }

.slick-next:before, .slick-prev:before {
    font-size: 75px;
    line-height: 1;
    opacity: .75;
    color: #fff;
}

.slick-dots {
  margin-left: 30px;
  width: 90%;
  bottom: -65px;
  line-height: 30px;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: #840000;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: -2px;
}

.slick-dots li button::before {
  font-size: 12px;
  color: white;
  border-radius: 90px;
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 10px 1px white;
  margin-bottom: -3px;

}
