@font-face {
   font-family: 'Smallville';
   src: url('../Smallville1.ttf');
}

.signInBlock {
  margin: 0px auto;
  height: 460px;
  text-align: center;
}

#signButton {
  display: inline-block;
  margin: 100px auto 0px;
  height: 40px;
  width: 100px;
}
